<h1>New Student</h1>

<%= form_with model: @student, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :student_number %>
    <%= form.text_field :student_number, placeholder: "X1234567" %>
  </div>

  <div>
    <%= form.label :course %>
    <%= form.select :course, ['Computer Science', 'Information Systems', 'Software Engineering', 'Cybersecurity'], prompt: "Select a Course" %>
  </div>

  <div>
    <%= form.submit "Create Student" %>
  </div>
<% end %>
